In [4]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# /content/drive/MyDrive/intern sy/infy_2024_ML/official/official submitted data sy/milestone 2/official data/train_tmdb.csv

In [16]:
df = pd.read_csv('/content/drive/MyDrive/intern sy/infy_2024_ML/official/official submitted data sy/milestone 2/official data/train_tmdb.csv')

df.head()

,id,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,...,release_date,runtime,spoken_languages,status,tagline,title,keywords,cast,crew,revenue
0,653346,160000000,"Science Fiction, Adventure, Action",https://www.20thcenturystudios.com/movies/king...,tt11389872,en,Kingdom of the Planet of the Apes,Several generations in the future following Ca...,6245.898,/gKkl37BQuKTanygYQG1pyYgLVgf.jpg,...,2024-05-08,145,English,Released,No one can stop the reign.,Kingdom of the Planet of the Apes,"empire, kingdom, gorilla, dystopia, eagle, seq...","Owen Teague, Freya Allan, Kevin Durand, Peter ...","Wes Ball, Joe Hartwick Jr., Peter Chernin, Ric...",359039904
1,929590,50000000,"War, Action, Drama",https://a24films.com/films/civil-war,tt17279496,en,Civil War,"In the near future, a group of war journalists...",2730.901,/sh7Rg8Er3tFcN9BpKIPOMvALgZd.jpg,...,2024-04-10,109,English,Released,Welcome to the frontline.,Civil War,"sniper, new york city, race against time, wash...","Kirsten Dunst, Wagner Moura, Cailee Spaeny, St...","Andrew Macdonald, Allon Reich, Gregory Goodman...",114097977
2,823464,150000000,"Science Fiction, Action, Adventure",https://www.godzillaxkongmovie.com,tt14539740,en,Godzilla x Kong: The New Empire,"Following their explosive showdown, Godzilla a...",2726.153,/z1p34vh7dEOnLDmyCrlUVLuoDzd.jpg,...,2024-03-27,115,English,Released,Rise together or fall alone.,Godzilla x Kong: The New Empire,"giant monster, sequel, dinosaur, monkey, kaiju...","Rebecca Hall, Brian Tyree Henry, Dan Stevens, ...","Adam Wingard, Thomas Tull, Jon Jashni, Mary Pa...",567156493
3,719221,8000000,"Horror, Thriller",https://www.tarotmovie.com,tt14088510,en,Tarot,When a group of friends recklessly violate the...,2349.378,/gAEUXC37vl1SnM7PXsHTF23I2vq.jpg,...,2024-05-01,92,English,Released,Your fate is in the cards.,Tarot,"tarot cards, fate, slasher, group of friends, ...","Harriet Slater, Adain Bradley, Avantika, Jacob...","Anna Halberg, Spenser Cohen, Spenser Cohen, An...",41989392
4,573435,100000000,"Action, Crime, Thriller",https://www.badboys.movie,tt4919268,en,Bad Boys: Ride or Die,"After their late former Captain is framed, Low...",2486.516,/nP6RliHjxsz4irTKsxe8FRhKZYl.jpg,...,2024-06-05,115,English,Released,Miami's finest are now its most wanted.,Bad Boys: Ride or Die,"miami, florida, on the run, police detective, ...","Will Smith, Martin Lawrence, Vanessa Hudgens, ...","George Gallo, Jerry Bruckheimer, Adil El Arbi,...",104600000

In [18]:
df.shape

(4007, 22)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4007 entries, 0 to 4006
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    4007 non-null   int64
 1   budget                4007 non-null   int64
 2   genres                4005 non-null   object
 3   homepage              2054 non-null   object
 4   imdb_id               4007 non-null   object
 5   original_language     4007 non-null   object
 6   original_title        4006 non-null   object
 7   overview              4007 non-null   object
 8   popularity            4007 non-null   float64
 9   poster_path           4007 non-null   object
 10  production_companies  3999 non-null   object
 11  production_countries  4006 non-null   object
 12  release_date          4007 non-null   object
 13  runtime               4007 non-null   int64
 14  spoken_languages      4005 non-null   object
 15  status                4007 non-null   object
 16  tagline               3855 non-null   object
 17  title                 4007 non-null   object
 18  keywords              3975 non-null   object
 19  cast                  4006 non-null   object
 20  crew                  4007 non-null   object
 21  revenue               4007 non-null   int64
dtypes: float64(1), int64(4), object(17)
memory usage: 688.8+ KB

QUES 1 :
1) change column names

homepage - movie_url
original_title - movie_title

In [20]:
#  ANS 1 - CODE :

# Change column names
df.rename(columns={'homepage': 'movie_url', 'original_title': 'movie_title'}, inplace=True)

In [21]:
# ANS 1 - OUTPUT :
df.head()

,id,budget,genres,movie_url,imdb_id,original_language,movie_title,overview,popularity,poster_path,...,release_date,runtime,spoken_languages,status,tagline,title,keywords,cast,crew,revenue
0,653346,160000000,"Science Fiction, Adventure, Action",https://www.20thcenturystudios.com/movies/king...,tt11389872,en,Kingdom of the Planet of the Apes,Several generations in the future following Ca...,6245.898,/gKkl37BQuKTanygYQG1pyYgLVgf.jpg,...,2024-05-08,145,English,Released,No one can stop the reign.,Kingdom of the Planet of the Apes,"empire, kingdom, gorilla, dystopia, eagle, seq...","Owen Teague, Freya Allan, Kevin Durand, Peter ...","Wes Ball, Joe Hartwick Jr., Peter Chernin, Ric...",359039904
1,929590,50000000,"War, Action, Drama",https://a24films.com/films/civil-war,tt17279496,en,Civil War,"In the near future, a group of war journalists...",2730.901,/sh7Rg8Er3tFcN9BpKIPOMvALgZd.jpg,...,2024-04-10,109,English,Released,Welcome to the frontline.,Civil War,"sniper, new york city, race against time, wash...","Kirsten Dunst, Wagner Moura, Cailee Spaeny, St...","Andrew Macdonald, Allon Reich, Gregory Goodman...",114097977
2,823464,150000000,"Science Fiction, Action, Adventure",https://www.godzillaxkongmovie.com,tt14539740,en,Godzilla x Kong: The New Empire,"Following their explosive showdown, Godzilla a...",2726.153,/z1p34vh7dEOnLDmyCrlUVLuoDzd.jpg,...,2024-03-27,115,English,Released,Rise together or fall alone.,Godzilla x Kong: The New Empire,"giant monster, sequel, dinosaur, monkey, kaiju...","Rebecca Hall, Brian Tyree Henry, Dan Stevens, ...","Adam Wingard, Thomas Tull, Jon Jashni, Mary Pa...",567156493
3,719221,8000000,"Horror, Thriller",https://www.tarotmovie.com,tt14088510,en,Tarot,When a group of friends recklessly violate the...,2349.378,/gAEUXC37vl1SnM7PXsHTF23I2vq.jpg,...,2024-05-01,92,English,Released,Your fate is in the cards.,Tarot,"tarot cards, fate, slasher, group of friends, ...","Harriet Slater, Adain Bradley, Avantika, Jacob...","Anna Halberg, Spenser Cohen, Spenser Cohen, An...",41989392
4,573435,100000000,"Action, Crime, Thriller",https://www.badboys.movie,tt4919268,en,Bad Boys: Ride or Die,"After their late former Captain is framed, Low...",2486.516,/nP6RliHjxsz4irTKsxe8FRhKZYl.jpg,...,2024-06-05,115,English,Released,Miami's finest are now its most wanted.,Bad Boys: Ride or Die,"miami, florida, on the run, police detective, ...","Will Smith, Martin Lawrence, Vanessa Hudgens, ...","George Gallo, Jerry Bruckheimer, Adil El Arbi,...",104600000

QUES 2:
2)Finding and removing duplicate values(dataframes)

In [9]:
#  ANS 2 - CODE -

# PART 1 - FIND DUPLICATES -
# Find duplicates
duplicates = df[df.duplicated()]

# Print the duplicate rows
print("Duplicate Rows:")
print(duplicates)

Duplicate Rows:
           id     budget                                             genres  \
218     27579   20000000                             Crime, Drama, Thriller
521       855   92000000                               Action, War, History
570     10193  200000000                          Animation, Family, Comedy
616      8810    2000000       Adventure, Action, Thriller, Science Fiction
764    101299  130000000                 Adventure, Action, Science Fiction
765    101299  130000000                 Adventure, Action, Science Fiction
898       215    4000000                                             Horror
1029   336843   62000000       Science Fiction, Action, Adventure, Thriller
1089   364689  111000000               Animation, Family, Adventure, Comedy
1217      924   26000000                              Action, Horror, Drama
1255      440   40000000  Fantasy, Action, Science Fiction, Thriller, Ho...
1359      601   10500000        Science Fiction, Adventure, Family, Fantasy
1421    52451   75000000                        Adventure, Action, Thriller
1453     2924   75000000                     Drama, Thriller, Action, Crime
1498     8645   60000000                          Thriller, Science Fiction
1499   481084   40000000                 Family, Animation, Comedy, Fantasy
1500       70   30000000                                              Drama
1588   291870   11500000                                             Comedy
1618      138     355000                                             Horror
1645    16577   10000000         Animation, Action, Family, Science Fiction
1776   443791   50000000         Horror, Science Fiction, Action, Adventure
2983    12133   65000000                                             Comedy
3322     2655  100000000                   Drama, Horror, Mystery, Thriller
3323    51588    8000000                                    Comedy, Romance
3903    34016   20000000                                    Romance, Comedy
3997   823464  150000000                 Science Fiction, Action, Adventure
3998   719221    8000000                                   Horror, Thriller
3999   573435  100000000                            Action, Crime, Thriller
4000   614933        100                            Science Fiction, Action
4001   746036  125000000                                     Action, Comedy
4002   437342   30000000                                             Horror
4003  1011985   80000000         Animation, Action, Family, Comedy, Fantasy
4004   786892  168000000                 Action, Adventure, Science Fiction
4006   693134  190000000                         Science Fiction, Adventure

                                              movie_url     imdb_id  \
218          https://www.focusfeatures.com/the_american   tt1440728
521                                                 NaN   tt0265086
570                      http://disney.go.com/toystory/   tt0435761
616                                                 NaN   tt0082694
764                    http://www.thehungergames.movie/   tt1951264
765                    http://www.thehungergames.movie/   tt1951264
898                                                 NaN   tt0432348
1029  https://www.20thcenturystudios.com/movies/maze...   tt4500922
1089         https://www.foxmovies.com/movies/ferdinand   tt3411444
1217                 http://www.dawnofthedeadmovie.net/   tt0363547
1255                              http://www.avp-r.com/   tt0758730
1359                               http://www.et20.com/   tt0083866
1421              http://www.threemusketeers-movie.com/   tt1509767
1453              https://www.uphe.com/movies/backdraft   tt0101393
1498                   http://www.thehappeningmovie.com   tt0949731
1499                    https://www.addamsfamily.movie/   tt1620981
1500           http://www.milliondollarbaby-derfilm.de/   tt0405159
1588                     http://www.dirtygrandpa.movie/   tt1860213
1618                                                NaN   tt0021814
1645                  http://www.astroboy-themovie.com/   tt0375568
1776  https://www.20thcenturystudios.com/movies/unde...   tt5774060
2983                                                NaN   tt0838283
3322                                                NaN   tt0161081
3323  http://disney.go.com/disneypictures/prom/index...   tt1604171
3903                      http://www.getyourrating.com/   tt0815236
3997                 https://www.godzillaxkongmovie.com  tt14539740
3998                         https://www.tarotmovie.com  tt14088510
3999                          https://www.badboys.movie   tt4919268
4000             https://www.netflix.com/title/81012048  tt14856980
4001                    https://www.thefallguymovie.com   tt1684562
4002  https://www.20thcenturystudios.com/movies/the-...   tt5672290
4003  https://www.dreamworks.com/movies/kung-fu-panda-4  tt21692408
4004                 https://www.furiosaamadmaxsaga.com  tt12037194
4006                          https://www.dunemovie.com  tt15239678

     original_language                      movie_title  \
218                 en                     The American
521                 en                  Black Hawk Down
570                 en                      Toy Story 3
616                 en                        Mad Max 2
764                 en  The Hunger Games: Catching Fire
765                 en  The Hunger Games: Catching Fire
898                 en                           Saw II
1029                en      Maze Runner: The Death Cure
1089                en                        Ferdinand
1217                en                 Dawn of the Dead
1255                en      Aliens vs Predator: Requiem
1359                en       E.T. the Extra-Terrestrial
1421                en             The Three Musketeers
1453                en                        Backdraft
1498                en                    The Happening
1499                en                The Addams Family
1500                en              Million Dollar Baby
1588                en                    Dirty Grandpa
1618                en                          Dracula
1645                en                        Astro Boy
1776                en                       Underwater
2983                en                    Step Brothers
3322                en                What Lies Beneath
3323                en                             Prom
3903                en           She's Out of My League
3997                en  Godzilla x Kong: The New Empire
3998                en                            Tarot
3999                en            Bad Boys: Ride or Die
4000                en                            Atlas
4001                en                     The Fall Guy
4002                en                   The First Omen
4003                en                  Kung Fu Panda 4
4004                en          Furiosa: A Mad Max Saga
4006                en                   Dune: Part Two

                                               overview  popularity  \
218   Dispatched to a small Italian town to await fu...     107.384
521   When U.S. Rangers and an elite Delta Force tea...      70.210
570   Woody, Buzz, and the rest of Andy's toys haven...      81.644
616   Max Rockatansky returns as the heroic loner wh...      84.421
764   Katniss Everdeen has returned home safe after ...      67.542
765   Katniss Everdeen has returned home safe after ...      67.542
898   The chilling and relentless Jigsaw killer retu...      50.536
1029  Thomas leads his group of escaped Gladers on t...      54.040
1089  Ferdinand, a little bull, prefers sitting quie...      56.027
1217  A group of survivors take refuge in a shopping...      49.591
1255  After a horrifying PredAlien crash-lands near ...      51.322
1359  An alien is left behind on Earth and saved by ...      46.087
1421  The hot-headed young D'Artagnan along with thr...      66.940
1453  Firemen brothers Brian and Stephen McCaffrey b...      28.339
1498  When a deadly airborne virus threatens to wipe...      32.961
1499  The Addams family's lives begin to unravel whe...      49.967
1500  Despondent over a painful estrangement from hi...      35.707
1588  Jason Kelly is one week away from marrying his...      37.511
1618  British estate agent Renfield travels to Trans...      29.698
1645  Set in the futuristic Metro City, Astro Boy (A...      31.630
1776  After an earthquake destroys their underwater ...      47.103
2983  Brennan Huff and Dale Doback might be grown me...      34.522
3322  When Claire Spencer starts hearing ghostly voi...      24.274
3323  At “Prom,” every couple has a story and no two...      42.195
3903  When he starts dating drop-dead gorgeous Molly...      27.522
3997  Following their explosive showdown, Godzilla a...    2726.153
3998  When a group of friends recklessly violate the...    2349.378
3999  After their late former Captain is framed, Low...    2486.516
4000  A brilliant counterterrorism analyst with a de...    1828.902
4001  Fresh off an almost career-ending accident, st...    1382.602
4002  When a young American woman is sent to Rome to...    1389.513
4003  Po is gearing up to become the spiritual leade...    1061.125
4004  As the world fell, young Furiosa is snatched f...    1122.616
4006  Follow the mythic journey of Paul Atreides as ...     903.033

                           poster_path  ... release_date runtime  \
218    /5OEOsRaBsSxD0qBtAhus0iKDzr.jpg  ...   2010-08-31     104
521   /imGygQbmuc7gC1JZiAVhJLsUWXq.jpg  ...   2001-12-28     145
570   /AbbXspMOwdvwWZgVN0nabZq03Ec.jpg  ...   2010-06-16     103
616   /dhVekfpaCW3QavAwGYbaQig87Xc.jpg  ...   1981-12-24      96
764   /v9qVkyS58WHdfrcEq0dxUJFKS9n.jpg  ...   2013-11-15     146
765   /v9qVkyS58WHdfrcEq0dxUJFKS9n.jpg  ...   2013-11-15     146
898   /AwfBNpkedYcXt9BjGEYZf5g2s37.jpg  ...   2005-10-28      93
1029  /2zYfzA3TBwrMC8tfFbpiTLODde0.jpg  ...   2018-01-10     143
1089  /rMm94JsRfcOPiPVsTRcBiiVBOhz.jpg  ...   2017-12-09     108
1217  /fNw87FZ6u258qmbkNNjrPtGZuvB.jpg  ...   2004-03-19     101
1255  /jCyJN1vj8jqJJ0vNw4hDH2KlySO.jpg  ...   2007-12-25      94
1359  /pEKStszBzTZCvR0H4tosjqxmE7X.jpg  ...   1982-06-11     115
1421  /woCADkkDIIKrOMEokbFOEsAYtUa.jpg  ...   2011-08-31     110
1453  /bymJtYNIdiAiBR1LRetaJXbfryc.jpg  ...   1991-05-24     137
1498  /v1Cw6WaCjNqInpAzUwbXB4LGgoX.jpg  ...   2008-06-11      91
1499  /q1epO0eO8DWu8Vo8tPfvVlzW48T.jpg  ...   2019-10-10      86
1500  /2ti3l1OeB8G94yyqfAI7nmMZUbA.jpg  ...   2004-12-15     132
1588  /k0Lz1TfSlbcQthQKYGwE7blDfwN.jpg  ...   2016-01-20     102
1618  /ueVSPt7vAba0XScHWTDWS5tNxYX.jpg  ...   1931-02-12      74
1645  /nKiEA8Z81i2sWxhjs0pcNbs2Rmr.jpg  ...   2009-10-15      94
1776  /gzlbb3yeVISpQ3REd3Ga1scWGTU.jpg  ...   2020-01-08      95
2983  /wRR6U3K3v2iQsG3uw7ehz1ctRyT.jpg  ...   2008-07-25      98
3322  /2L3Cn0CizbSy2E9KJt1SiOSyb6p.jpg  ...   2000-07-21     130
3323  /pOYSCjYylOsEPkql3m9gcV1jycR.jpg  ...   2011-04-29     104
3903  /wTy3rtmbgJkClR492q6FBbtdeMb.jpg  ...   2010-03-11     104
3997  /z1p34vh7dEOnLDmyCrlUVLuoDzd.jpg  ...   2024-03-27     115
3998  /gAEUXC37vl1SnM7PXsHTF23I2vq.jpg  ...   2024-05-01      92
3999  /nP6RliHjxsz4irTKsxe8FRhKZYl.jpg  ...   2024-06-05     115
4000  /bcM2Tl5HlsvPBnL8DKP9Ie6vU4r.jpg  ...   2024-05-23     120
4001  /tSz1qsmSJon0rqjHBxXZmrotuse.jpg  ...   2024-04-24     126
4002  /uGyiewQnDHPuiHN9V4k2t9QBPnh.jpg  ...   2024-04-03     119
4003  /kDp1vUBnMpe8ak4rjgl3cLELqjU.jpg  ...   2024-03-02      94
4004  /iADOJ8Zymht2JPMoy3R7xceZprc.jpg  ...   2024-05-22     149
4006  /1pdfLvkbY9ohJlCjQH2CZjjYVvJ.jpg  ...   2024-02-27     167

            spoken_languages    status  \
218        English, Italiano  Released
521          English, Somali  Released
570         English, Español  Released
616                  English  Released
764                  English  Released
765                  English  Released
898                  English  Released
1029                 English  Released
1089                 English  Released
1217                 English  Released
1255                 English  Released
1359                 English  Released
1421                 English  Released
1453                 English  Released
1498       English, Français  Released
1499                 English  Released
1500        English, Gaeilge  Released
1588                 English  Released
1618  English, Magyar, Latin  Released
1645                 English  Released
1776                 English  Released
2983        English, Español  Released
3322                 English  Released
3323                 English  Released
3903                 English  Released
3997                 English  Released
3998                 English  Released
3999                 English  Released
4000                 English  Released
4001       English, Français  Released
4002       English, Italiano  Released
4003                 English  Released
4004                 English  Released
4006                 English  Released

                                                tagline  \
218                                                 NaN
521                                Leave no man behind.
570                            No toy gets left behind.
616   When all that's left is one last chance, pray ...
764                          Remember who the enemy is.
765                          Remember who the enemy is.
898                      Oh yes... There will be blood.
1029                               The end will be WCKD
1089                      Built to Fight. Born to Love.
1217  When there's no more room in Hell, the dead wi...
1255             On Earth everyone can hear you scream.
1359  He is afraid. He is alone. He is three million...
1421                  Every legend has a new beginning.
1453  Silently behind a door, it waits. One breath o...
1498  We've sensed it. We've seen the signs. Now...i...
1499                        Think your family is weird?
1500  Beyond his silence, there is a past. Beyond he...
1588   Jason is ready for adulthood. His grandpa isn't.
1618  The story of the strangest passion the world h...
1645                                      Have a blast.
1776  7 miles below the ocean surface something has ...
2983                              They grow up so fast.
3322  He was the perfect husband until his one mista...
3323  There are hundreds of nights in high school, b...
3903             When she's this hot, You get one shot.
3997                       Rise together or fall alone.
3998                         Your fate is in the cards.
3999            Miami's finest are now its most wanted.
4000            The future of humanity is in her hands.
4001                                         Fall hard.
4002                          Create something to fear.
4003                                                NaN
4004                                      Fury is born.
4006                            Long live the fighters.

                                title  \
218                      The American
521                   Black Hawk Down
570                       Toy Story 3
616                         Mad Max 2
764   The Hunger Games: Catching Fire
765   The Hunger Games: Catching Fire
898                            Saw II
1029      Maze Runner: The Death Cure
1089                        Ferdinand
1217                 Dawn of the Dead
1255      Aliens vs Predator: Requiem
1359       E.T. the Extra-Terrestrial
1421             The Three Musketeers
1453                        Backdraft
1498                    The Happening
1499                The Addams Family
1500              Million Dollar Baby
1588                    Dirty Grandpa
1618                          Dracula
1645                        Astro Boy
1776                       Underwater
2983                    Step Brothers
3322                What Lies Beneath
3323                             Prom
3903           She's Out of My League
3997  Godzilla x Kong: The New Empire
3998                            Tarot
3999            Bad Boys: Ride or Die
4000                            Atlas
4001                     The Fall Guy
4002                   The First Omen
4003                  Kung Fu Panda 4
4004          Furiosa: A Mad Max Saga
4006                   Dune: Part Two

                                               keywords  \
218   mission, assassin, prostitute, italy, anti her...
521   based on novel or book, ambush, chaos, militia...
570   escape, hostage, college, villain, sequel, bud...
616   mask, australia, chase, explosive, dystopia, b...
764   rebellion, based on novel or book, propaganda,...
765   rebellion, based on novel or book, propaganda,...
898   sadism, riddle, serial killer, torture, surviv...
1029  based on novel or book, fight, maze, post-apoc...
1089  friendship, spain, madrid, spain, europe, anth...
1217  nurse, department store, shotgun, pregnancy, b...
1255  predator, hybrid, colorado, national guard, mo...
1359  farewell, space marine, operation, flying sauc...
1421  france, swordplay, sword fight, historical fic...
1453  chicago, illinois, rescue, fire, corruption, s...
1498  suicide, husband wife relationship, tree, natu...
1499        cartoon, black humor, family, addams family
1500  dying and death, transporter, strong woman, st...
1588  funeral, golf, grandfather, road trip, crude h...
1618  monster, based on novel or book, transylvania,...
1645  future, hero, superhero, based on manga, robot...
1776  monster, self sacrifice, deep sea, animal atta...
2983  becoming an adult, hostility, autonomy, childh...
3322  lake, therapist, haunted house, haunting, susp...
3323  high school, friendship, waitress, single pare...
3903  airport, ex-boyfriend, ex-girlfriend, romantic...
3997  giant monster, sequel, dinosaur, monkey, kaiju...
3998  tarot cards, fate, slasher, group of friends, ...
3999  miami, florida, on the run, police detective, ...
4000  mission, artificial intelligence (a.i.), explo...
4001  stuntman, missing person, duringcreditsstinger...
4002  nun, prophecy, italy, devil's son, revelation,...
4003  martial arts, kung fu, china, sequel, panda, a...
4004         post-apocalyptic future, prequel, spin off
4006  epic, based on novel or book, fight, politics,...

                                                   cast  \
218   George Clooney, Violante Placido, Thekla Reute...
521   Josh Hartnett, Eric Bana, Ewan McGregor, Tom S...
570   Tom Hanks, Tim Allen, Joan Cusack, Don Rickles...
616   Mel Gibson, Bruce Spence, Michael Preston, Max...
764   Jennifer Lawrence, Josh Hutcherson, Liam Hemsw...
765   Jennifer Lawrence, Josh Hutcherson, Liam Hemsw...
898   Tobin Bell, Donnie Wahlberg, Shawnee Smith, Er...
1029  Dylan O'Brien, Kaya Scodelario, Thomas Brodie-...
1089  John Cena, Kate McKinnon, Anthony Anderson, Bo...
1217  Sarah Polley, Ving Rhames, Ty Burrell, Inna Ko...
1255  Steven Pasquale, Reiko Aylesworth, John Ortiz,...
1359  Henry Thomas, Drew Barrymore, Robert MacNaught...
1421  Logan Lerman, Milla Jovovich, Matthew Macfadye...
1453  Kurt Russell, William Baldwin, Robert De Niro,...
1498  Mark Wahlberg, Zooey Deschanel, John Leguizamo...
1499  Oscar Isaac, Charlize Theron, Chloë Grace More...
1500  Clint Eastwood, Hilary Swank, Morgan Freeman, ...
1588  Robert De Niro, Zac Efron, Aubrey Plaza, Zoey ...
1618  Bela Lugosi, Helen Chandler, David Manners, Dw...
1645  Nicolas Cage, Madeline Carroll, Freddie Highmo...
1776  Kristen Stewart, Vincent Cassel, Mamoudou Athi...
2983  Will Ferrell, John C. Reilly, Mary Steenburgen...
3322  Harrison Ford, Michelle Pfeiffer, Diana Scarwi...
3323  Aimee Teegarden, Thomas McDonell, Nolan Sotill...
3903  Jay Baruchel, Alice Eve, T.J. Miller, Nate Tor...
3997  Rebecca Hall, Brian Tyree Henry, Dan Stevens, ...
3998  Harriet Slater, Adain Bradley, Avantika, Jacob...
3999  Will Smith, Martin Lawrence, Vanessa Hudgens, ...

In [10]:
# Get the indices of the duplicate rows
duplicate_indices = df[df.duplicated()].index
print("Indices of Duplicate Rows:")
print(duplicate_indices)

Indices of Duplicate Rows:
Index([ 218,  521,  570,  616,  764,  765,  898, 1029, 1089, 1217, 1255, 1359,
       1421, 1453, 1498, 1499, 1500, 1588, 1618, 1645, 1776, 2983, 3322, 3323,
       3903, 3997, 3998, 3999, 4000, 4001, 4002, 4003, 4004, 4006],
      dtype='int64')

In [22]:
# SAVE A COPY OF ORIGINAL DF WITH CHANGE COL NAMES OF 2 COLS
df_copy = df.copy()

In [23]:
# ANS 2 - PART 2 -

# Find and remove duplicate rows
df.drop_duplicates(inplace=True)

In [26]:
# ANS 2 - PART 3 -

# NO. OF ROWS , AFTER REMOVING DUPLICATES

# Display the first few rows of the modified DataFrame to verify changes
df.shape

(3973, 22)

In [ ]:
# ANS 2 - PART 4
# duplicate rows removed = 4007-3973 = 34 rows

In [29]:
df.head(2)

,id,budget,genres,movie_url,imdb_id,original_language,movie_title,overview,popularity,poster_path,...,release_date,runtime,spoken_languages,status,tagline,title,keywords,cast,crew,revenue
0,653346,160000000,"Science Fiction, Adventure, Action",https://www.20thcenturystudios.com/movies/king...,tt11389872,en,Kingdom of the Planet of the Apes,Several generations in the future following Ca...,6245.898,/gKkl37BQuKTanygYQG1pyYgLVgf.jpg,...,2024-05-08,145,English,Released,No one can stop the reign.,Kingdom of the Planet of the Apes,"empire, kingdom, gorilla, dystopia, eagle, seq...","Owen Teague, Freya Allan, Kevin Durand, Peter ...","Wes Ball, Joe Hartwick Jr., Peter Chernin, Ric...",359039904
1,929590,50000000,"War, Action, Drama",https://a24films.com/films/civil-war,tt17279496,en,Civil War,"In the near future, a group of war journalists...",2730.901,/sh7Rg8Er3tFcN9BpKIPOMvALgZd.jpg,...,2024-04-10,109,English,Released,Welcome to the frontline.,Civil War,"sniper, new york city, race against time, wash...","Kirsten Dunst, Wagner Moura, Cailee Spaeny, St...","Andrew Macdonald, Allon Reich, Gregory Goodman...",114097977

QUES 3 :
3) checking of any null or empty values in dataframes
and try to fetch and add that missing data using movie id

In [ ]:
# ANS 3 - STEPS -

# To check for null or empty values in a DataFrame and handle them, you can follow these steps:

# Identify null or empty values.
# Fetch and add missing data (if possible).
# Handle remaining missing data appropriately (e.g., filling with default values, dropping rows/columns).

In [30]:
# ANS 3 - STEP 1 -
# Step 1: Check for null or empty values

null_values = df.isnull().sum()
empty_values = (df == '').sum()

print("Null values in each column:")
print(null_values)

print("\nEmpty values in each column:")
print(empty_values)

Null values in each column:
id                         0
budget                     0
genres                     2
movie_url               1947
imdb_id                    0
original_language          0
movie_title                1
overview                   0
popularity                 0
poster_path                0
production_companies       8
production_countries       1
release_date               0
runtime                    0
spoken_languages           2
status                     0
tagline                  150
title                      0
keywords                  32
cast                       1
crew                       0
revenue                    0
dtype: int64

Empty values in each column:
id                      0
budget                  0
genres                  0
movie_url               0
imdb_id                 0
original_language       0
movie_title             0
overview                0
popularity              0
poster_path             0
production_companies    0
production_countries    0
release_date            0
runtime                 0
spoken_languages        0
status                  0
tagline                 0
title                   0
keywords                0
cast                    0
crew                    0
revenue                 0
dtype: int64

In [ ]:
# NULL VALUES -
# genres                     2
# movie_url               1947
# movie_title                1
# production_companies       8
# production_countries       1
# spoken_languages           2
# tagline                  150
# keywords                  32
# cast                       1

# TOTAL - 9 COLS HAVING NULL VALUES

# AND NO EMPTY COLS

In [31]:
# ANS 3 - STEP 2 -
# CODE TO FETCH 2 COLS NULL VALUES FROM TMDB SITE USING API
# Fills missing movie_url and movie_title using the TMDB API.


import pandas as pd
import requests

# Function to fetch movie details from TMDB using IMDb ID
def fetch_movie_details(imdb_id, api_key):
    url = f"https://api.themoviedb.org/3/find/{imdb_id}"
    params = {
        'api_key': api_key,
        'external_source': 'imdb_id'
    }
    response = requests.get(url, params=params)
    if response.status_code == 200:
        data = response.json()
        if data['movie_results']:
            movie = data['movie_results'][0]
            movie_url = f"https://www.themoviedb.org/movie/{movie['id']}"
            movie_title = movie['title']
            return movie_url, movie_title
    return None, None



# Your TMDB API key
api_key = '5abf4d126acc10d018d17b034dd7bb40'

# Iterate over the rows to fill missing movie_url and movie_title
for index, row in df.iterrows():
    if pd.isnull(row['movie_url']) or pd.isnull(row['movie_title']) or row['movie_url'] == '' or row['movie_title'] == '':
        imdb_id = row['imdb_id']
        movie_url, movie_title = fetch_movie_details(imdb_id, api_key)
        if movie_url:
            df.at[index, 'movie_url'] = movie_url
        if movie_title:
            df.at[index, 'movie_title'] = movie_title

In [35]:
df_cleaned_file_with_fetched_values = df.copy()

# Display the first few rows of the modified DataFrame to verify changes
df.head(2)

,id,budget,genres,movie_url,imdb_id,original_language,movie_title,overview,popularity,poster_path,...,release_date,runtime,spoken_languages,status,tagline,title,keywords,cast,crew,revenue
0,653346,160000000,"Science Fiction, Adventure, Action",https://www.20thcenturystudios.com/movies/king...,tt11389872,en,Kingdom of the Planet of the Apes,Several generations in the future following Ca...,6245.898,/gKkl37BQuKTanygYQG1pyYgLVgf.jpg,...,2024-05-08,145,English,Released,No one can stop the reign.,Kingdom of the Planet of the Apes,"empire, kingdom, gorilla, dystopia, eagle, seq...","Owen Teague, Freya Allan, Kevin Durand, Peter ...","Wes Ball, Joe Hartwick Jr., Peter Chernin, Ric...",359039904
1,929590,50000000,"War, Action, Drama",https://a24films.com/films/civil-war,tt17279496,en,Civil War,"In the near future, a group of war journalists...",2730.901,/sh7Rg8Er3tFcN9BpKIPOMvALgZd.jpg,...,2024-04-10,109,English,Released,Welcome to the frontline.,Civil War,"sniper, new york city, race against time, wash...","Kirsten Dunst, Wagner Moura, Cailee Spaeny, St...","Andrew Macdonald, Allon Reich, Gregory Goodman...",114097977

In [39]:
df.shape

(3973, 22)

In [38]:
df_cleaned_file_with_fetched_values.shape

(3973, 22)

In [33]:
# ANS 3 - STEP 3 -
# Check for null values after fixing 2 cols = movie_url and movie_title

null_values = df.isnull().sum()

print("Null values in each column:")
print(null_values)

Null values in each column:
id                        0
budget                    0
genres                    2
movie_url                 0
imdb_id                   0
original_language         0
movie_title               0
overview                  0
popularity                0
poster_path               0
production_companies      8
production_countries      1
release_date              0
runtime                   0
spoken_languages          2
status                    0
tagline                 150
title                     0
keywords                 32
cast                      1
crew                      0
revenue                   0
dtype: int64

In [ ]:
# ANS 3 - step 4 - RESULT  -
# movie_url and movie_title COLS have 'NO' null values now
# movie_url                 0
# movie_title               0

In [40]:
# ANS 3 - STEP 5 -
# "REST OF THE COLS" = NULL VALUES HANDLE

# Fills missing numerical values with the column's mean and categorical values with the column's mode.
# # Handling missing values for the rest of the columns


for column in df.columns:
    if df[column].isnull().sum() > 0 or (df[column] == '').sum() > 0:
        if df[column].dtype in ['float64', 'int64']:  # Numerical column
            mean_value = df[column].mean()
            df[column].fillna(mean_value, inplace=True)
            df[column].replace('', mean_value, inplace=True)
        else:  # Categorical column
            mode_value = df[column].mode()[0]
            df[column].fillna(mode_value, inplace=True)
            df[column].replace('', mode_value, inplace=True)


df.shape

(3973, 22)

In [42]:
# ANS 3 - STEP 6 -
# CHECK NULL VALUES COLS AGAIN TO GET FINAL RESULT

null_values = df.isnull().sum()

print("Null values in each column:")
print(null_values)

Null values in each column:
id                      0
budget                  0
genres                  0
movie_url               0
imdb_id                 0
original_language       0
movie_title             0
overview                0
popularity              0
poster_path             0
production_companies    0
production_countries    0
release_date            0
runtime                 0
spoken_languages        0
status                  0
tagline                 0
title                   0
keywords                0
cast                    0
crew                    0
revenue                 0
dtype: int64

In [ ]:
# ANS 3 - STEP 7 -
# FINAL RESULT :

# NOW, # NOW , FROM ABOVE NULL VALUES OUTPUT , IT IS CLEAR, THAT NULL  VALUES ARE HANDLED AND NO NULL VALUES ARE PRESENT NOW

QUES 4 -

4)check for any dataframes that has revenue as 0, average the revenue for the rest of dataframes and add it.

In [44]:
# ANS 4 - STEP 1 -
# CHECK HOW MANY COLS HAVE REVENUE = 0

# Check how many rows have revenue as 0
zero_revenue_count = (df['revenue'] == 0).sum()
print(f"Number of rows with revenue = 0 are : {zero_revenue_count}")

Number of rows with revenue = 0 are : 316

In [45]:
ANS 4 - STEP 2 -
REPLACE REV = 0 COLS , BY MEAN

# Calculate average revenue excluding rows where revenue is 0
average_revenue = df[df['revenue'] > 0]['revenue'].mean()

# didnt used int outside here... so will change float replaced to int later
# average_revenue = int(df[df['revenue'] > 0]['revenue'].mean())
# if had used, directly int above, then it would have replaced float vals to int

# Replace revenue 0 with the average revenue
df['revenue'] = df['revenue'].replace(0, average_revenue)

In [46]:
# STEP 3 -
# CHECK IF REV=0 COLS ARE REPLACED BY MEAN


zero_revenue_count = (df['revenue'] == 0).sum()
print(f"Number of rows with revenue = 0 are : {zero_revenue_count}")

Number of rows with revenue = 0 are : 0

In [ ]:
# STEP 4 -
# RESULT :
# NOW, ALL REV=0 COLS ARE REPLACED BY MEAN AND NO REV=0 COLS ARE PRESENT NOW [AS PER ABOVE OUTPUT]

In [62]:
# step 5 -
# Convert revenue column from float to integer
df['revenue'] = df['revenue'].astype(int)

# check revenue col type
df.info()

# Ans from below output ,
# REVENUE COL TYPE =  INT

# revenue               3973 non-null   int64

<class 'pandas.core.frame.DataFrame'>
Index: 3973 entries, 0 to 4005
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    3973 non-null   int64
 1   budget                3973 non-null   int64
 2   genres                3973 non-null   object
 3   movie_url             3973 non-null   object
 4   imdb_id               3973 non-null   object
 5   original_language     3973 non-null   object
 6   movie_title           3973 non-null   object
 7   overview              3973 non-null   object
 8   popularity            3973 non-null   float64
 9   poster_path           3973 non-null   object
 10  production_companies  3973 non-null   object
 11  production_countries  3973 non-null   object
 12  release_date          3973 non-null   object
 13  runtime               3973 non-null   int64
 14  spoken_languages      3973 non-null   object
 15  status                3973 non-null   object
 16  tagline               3973 non-null   object
 17  title                 3973 non-null   object
 18  keywords              3973 non-null   object
 19  cast                  3973 non-null   object
 20  crew                  3973 non-null   object
 21  revenue               3973 non-null   int64
dtypes: float64(1), int64(4), object(17)
memory usage: 842.9+ KB

QUES 5 -

5) finally convert that processed output(dataframes) to csv format

In [63]:
# ANS 5 -

# STEP 1 : SAVE FINAL DF into a new df, df_processed.
df_processed = df.copy()

In [64]:
df_processed.head(2)

,id,budget,genres,movie_url,imdb_id,original_language,movie_title,overview,popularity,poster_path,...,release_date,runtime,spoken_languages,status,tagline,title,keywords,cast,crew,revenue
0,653346,160000000,"Science Fiction, Adventure, Action",https://www.20thcenturystudios.com/movies/king...,tt11389872,en,Kingdom of the Planet of the Apes,Several generations in the future following Ca...,6245.898,/gKkl37BQuKTanygYQG1pyYgLVgf.jpg,...,2024-05-08,145,English,Released,No one can stop the reign.,Kingdom of the Planet of the Apes,"empire, kingdom, gorilla, dystopia, eagle, seq...","Owen Teague, Freya Allan, Kevin Durand, Peter ...","Wes Ball, Joe Hartwick Jr., Peter Chernin, Ric...",359039904
1,929590,50000000,"War, Action, Drama",https://a24films.com/films/civil-war,tt17279496,en,Civil War,"In the near future, a group of war journalists...",2730.901,/sh7Rg8Er3tFcN9BpKIPOMvALgZd.jpg,...,2024-04-10,109,English,Released,Welcome to the frontline.,Civil War,"sniper, new york city, race against time, wash...","Kirsten Dunst, Wagner Moura, Cailee Spaeny, St...","Andrew Macdonald, Allon Reich, Gregory Goodman...",114097977

In [65]:
df_processed.shape

(3973, 22)

In [66]:
# STEP 2 -
# CONVERT DF TO CSV

# Save the processed data to a CSV file
df_processed.to_csv('df_processed.csv', index=False)

In [67]:
# STEP 3 -
# DOWNLOAD LIBRARY FOR FILES
from google.colab import files

# IF NOT COLAB, USE BELOW CODE -

In [68]:
# STEP 4 -
#  DOWNLOAD CSV

#  Download the CSV file
files.download('df_processed.csv')

In [ ]:
# MILESTONE 2 - TASK 1 - 5 QUES COMPLETED